print 
greatest_of_3
updated_counting
table_of_19
counting
AP
updated_ap
ap_with_a=1
GP
prime_number
updated_prime_number
factorial
updated_factorial
calculator
updated_greatest_of_3
greatest_of_3_final
latest_greatest_of_3
ncr
ncr_updated
ncr_using_functions
npr
swap
updated_swap
swapping_without_third_variable
updated_counting
swap_using_pionter


